body{
	background-color:white;
}

ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.sombraredondeada{
   background-color: #ff7817;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin:50px;
   width: 200px;
   padding: 30px 0;
   text-align:center;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   
   box-shadow: -8px 12px 2px #fac0a3;
   -webkit-box-shadow: -8px 12px 2px #fac0a3;
   -moz-box-shadow: -8px 12px 2px #fac0a3;
}
.sombraredondeada.large {
	width:400px;
}

.sombraredondeada2{
   background-color: #ff7817;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin: 50px;
   width: 200px;
   padding: 10px 0;
   text-align:center;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
    position: relative;
    bottom: 93px;
   
   box-shadow: -8px 12px 2px #fac0a3;
   -webkit-box-shadow: -8px 12px 2px #fac0a3;
   -moz-box-shadow: -8px 12px 2px #fac0a3;
}
.sombraredondeada2.large {
	width:400px;
}

.lastbutton{
   background-color: #0099cc;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin: 5px;
   width: 200px;
   padding: 10px 0;
   text-align:center;
   box-shadow:0px 0px 0px #373c3c;
   border-radius: 0px 7px 7px 0px;
   position: relative;
   left: -12px;
   bottom: 90px;
}
.lastbutton.large {
  width:350px;
}

.lastbutton2{
   background-color: #0099cc;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin: 5px;
   width: 200px;
   padding: 10px 0;
   text-align:center;
   box-shadow:0px 0px 0px #373c3c;
   border-radius: 0px 7px 7px 0px;
   position: relative;
   left: -12px;
   bottom: 85px;
}
.lastbutton2.large {
  width:350px;
}

.lastbutton3{
   background-color: #0099cc;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin: 5px;
   width: 200px;
   padding: 10px 0;
   text-align:center;
   box-shadow:0px 0px 0px #373c3c;
   border-radius: 0px 7px 7px 0px;
   position: relative;
   left: -12px;
   bottom: 80px;
}
.lastbutton3.large {
  width:350px;
}

.lastbutton4{
   background-color: #0099cc;
   color: #fff;
   display:inline-block;
   font-size:1.25em;
   margin: 5px;
   width: 200px;
   padding: 10px 0;
   text-align:center;
   box-shadow:0px 0px 0px #373c3c;
   border-radius: 0px 7px 7px 0px;
   position: relative;
   left: -12px;
   bottom: 75px;
}
.lastbutton4.large {
  width:350px;
}

.margen{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -500px;
 margin-left: -920px;
}
.margen2{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -400px;
 margin-left: -300px;

}
.margen3{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: 180px;
 margin-left: 10px;
}
.circular { 
  width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;
}
body{ 
background-position : center; 
background-repeat : no-repeat; 
background-attachment : fixed;
background-position : 100%;
}
.margen4{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: 50px;
 margin-left: 500px;
}
.margen5{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -400px;
 margin-left: 300px;
}
.margen6{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -400px;
 margin-left: 700px;
}
.margen7{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -400px;
 margin-left: 1100px;
}
.margen8{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -400px;
 margin-left: 1100px;
}